* {
    --headbar-height: 8vh;
}

body {
    background-color: rgb(70, 70, 70);
    overflow: hidden;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.wrapper .head {
    position: relative;
    height: var(--headbar-height);
    background-color: rgb(70, 70, 70);
    font-size: calc(var(--headbar-height) - 90px);
}

.wrapper .content {
    flex-grow: 1;
    background-color: rgb(119, 117, 116);
}

.wrapper .head #menuBtn {
    display: inline-block;
    margin: 5px 15px;
    height: calc(100% - 10px);
} 

.wrapper .head #labelHead {
    position: absolute;
    display: inline-block;
    margin: 25px 10px;
}

#menu {
    position: absolute;
    top: 0;
    left: -90vw;
    width: 90vw;
    height: 100vh;
    background-color: #222;

    transition: left 0.2s;
    color: #eee;
}
#menu.open {
    left: 0;
}
#menu ul {
    list-style: none;
    padding: 0;
    margin: 5em 0 0 0;
}
#menu ul li {
    padding: 2em;
    font-size: 3em;
    cursor: pointer;
}
#menu ul li:hover {
    background-color: #333;
}