* {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none;
    
    --toolbar-height: 3em;
}

body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
}

.toolbar {
    position: relative;
    height: var(--toolbar-height);
    background-color: #25a;
}

.toolbar .button {
    display: inline-block;
    box-sizing: border-box;
    background-color: #36b;
    width: var(--toolbar-height);
    height: var(--toolbar-height);
    padding: 3px 10px;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position-x: 50%;
    background-position-y: 50%;
    cursor: pointer;
}

.toolbar .button:hover {
    background-color: #47c;
}

.toolbar .button.save {
    background-image: url('img/save.svg');
}
.toolbar .button.clear {
    background-image: url('img/clear.svg');
}
.toolbar .button.undo {
    background-image: url('img/undo.svg');
}

.toolbar .version {
    position: absolute;
    right: 0;
    top: 0;
    padding: 7px;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}

.toolbar input, .toolbar button {
    box-sizing: border-box;
    top: 0;
    height: var(--toolbar-height);
    vertical-align: top;
    margin: 4px;
    outline-style: none;
    padding: 0;
}

.toolbar input[type=text] {
    padding: 5px 10px;
    text-align: center;
}

#outputSize {
    width: 50px;
}

.content {
    position: relative;
    flex-grow: 1;
}

canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    /*background-size: var(--square-size) var(--square-size);
    background-image: linear-gradient(to right, grey 1px, transparent 1px), linear-gradient(to bottom, grey 1px, transparent 1px);
    background-position: var(--square-x) var(--square-y);*/
}