body {
    background-color: rgb(70, 70, 70);
    overflow: hidden;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

#wrapper #head {
    position: relative;
    height: 50px;
    background-color: rgb(235, 127, 127);
    font-size: 20px;
    font-style: italic;
}

#wrapper #content {
    position: relative;
    flex-grow: 1;
    background-color: rgb(243, 242, 241);
}

#wrapper #head #labelHead {
    position: absolute;
    display: inline-block;
    margin: 12.5px 50px;
}

#picture {
    position: relative;
    top: 100;
    left: 100;
    display: flex;
    flex-direction: column;
    width: 25 vw;
    height: relative;
}

.flex { 
    display: flex; 
    justify-content: center; 
    align-items: center;
}